<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LAVNEXONLINESHOP"
        tools:targetApi="31">
        <activity
            android:name="Sellers.SellerRegistration"
            android:exported="false" />
        <activity
            android:name="Sellers.SellerProductCategoryActivity"
            android:exported="false" />
        <activity
            android:name="Sellers.SellerLoginActivity"
            android:exported="false" />
        <activity
            android:name="Sellers.SellerHomeActivity"
            android:exported="false" />
        <activity
            android:name="Sellers.SellerAddNewProductActivity"
            android:exported="false" />
        <activity
            android:name="Admins.CheckNewProductActivity"
            android:exported="false" />
        <activity
            android:name="Admins.AdminWhatAppActivity"
            android:exported="false" />
        <activity
            android:name="Admins.AdminUsersProductsActivity"
            android:exported="false" />
        <activity
            android:name="Admins.AdminNewOrderActivity"
            android:exported="false" />
        <activity
            android:name="Admins.AdminMaintainProductActivity"
            android:exported="false" />
        <activity
            android:name="Admins.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.UserWhatActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.SearchProductActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.ConfirmFinalOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Buyers.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>